{% extends 'main.html' %}
{% block content %}
<div class="bg-dark text-light py-5">
  <div class="container text-center">
    <h2 class="mb-4">Are you sure you want to log out?</h2>
    <form method="POST" class="d-flex justify-content-center gap-3">
      {% csrf_token %}
      <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-light">
       no
      </a>
      <button type="submit" class="btn btn-danger">
        Log out
      </button>
    </form>
  </div>
</div>
{% endblock %}
