<!--&lt;!&ndash; pool/pool_confirm_delete.html &ndash;&gt;-->
<!--{% extends 'main.html' %}-->
<!--{% block content %}-->
<!--<div class="container my-4">-->
<!--    <div class="card">-->
<!--        <div class="card-body">-->
<!--            <h3>Delete Pool</h3>-->
<!--            <p>Are you sure you want to delete {{ pool.name }}?</p>-->
<!--            <form method="POST">-->
<!--                {% csrf_token %}-->
<!--                <button type="submit" class="btn btn-danger">Confirm Delete</button>-->
<!--                <a href="{% url 'pool_detail' pool.pk %}" class="btn btn-secondary">Cancel</a>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--{% endblock %}-->